body {
    margin: 0;
    padding: 60px 0 0 0;
}
 
#page {
    margin: 0px auto;
    width: 100%;
}
 
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%; 
    max-height: 10%;
    background-color: #EEBFE0;
    font-size: 150%;
    color:#DE069D;
    flex-wrap: wrap;
    z-index:2;
}

#nav {
    float:right;
	font-size: 60%;
    color:rgb(22, 129, 22);
}
 
#content {height: 100%;
    overflow: auto;
    padding: 1% 1% 0% 1%;
    width: 98%;
}

@font-face{
    font-family: arial;
    src: url(letra1.otf)
  
}

des{

    font-family: arial; 
    color:indigo;
   font-size: 150%;
}
T1{

    font-family: arial; 
    color:rgb(170, 29, 139);
   font-size: 350%;

}